extends ../../layout
block content
  #settings-balances.main-content.settings.user-area(role='main')
    .wrapper
      .col-aside
        include withdrawal_list_transfer
      .col-main
        #balance.container
          .con-header
            h3.con-header-title
              img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt="icon", class="coin-icon #{wallet.currency_name.toLowerCase()}")
              |  #{currencies[wallet.currency]} Balance
            .header-aside
              a(href="/trade/#{wallet.currency}/XWBC") Trade #{wallet.currency}/XWBC
          table.trade-data
            tr
              th Total Balance
              th Available Balance
              th Held for Orders
            tr
              td <span data-wallet-balance-id="#{wallet.id}">#{_str.toFixed(wallet.getFloat('total_balance'))}</span> #{wallet.currency}
              td <span data-wallet-available-balance-id="#{wallet.id}">#{_str.toFixed(wallet.getFloat('balance'))}</span> #{wallet.currency}
              td <span data-wallet-hold-balance-id="#{wallet.id}">#{_str.toFixed(wallet.getFloat('hold_balance'))}</span> #{wallet.currency}



        // Transaction History BTC/XWBC

        #balance-history.balance-history.container
          .con-header
            h3.con-header-title Transaction History
          .table-wrap
            table.trade-data
              thead
                tr
                  th Date
                  th Description
                  th Amount
              tbody#transactions-history-cnt(data-wallet-id="#{wallet.id}")
          // Pending Transactions common

  include ../../templates/pending_transaction
  include ../../templates/pending_withdrawal
  include ../../templates/transaction_history
  include ../../templates/wallet_open_order
  include ../../templates/wallet_closed_order


