.fund-list.container
  .con-header
    .con-header-title Wallets
  - var availableCurrencies = [];
  ul.fund-nav
    li(class="#{ page=='withdrawal-overview' ? 'active' : ''}"): a(href='/withdrawal') Overview
    - console.log(type)  
    li(class="#{type=='EU' ? 'active' : ''}"): a(href='/withdrawal/Bank/EU') Withdraw to EU Bank
    li(class="#{type=='Inter' ? 'active' : ''}"): a(href='/withdrawal/Bank/Inter') Withdraw to International Bank
    li(class="#{type=='BTC' ? 'active' : ''}"): a(href='/settings/transactions_history/BTC') Bitcoin transaction history
    li(class="#{type=='XWBC' ? 'active' : ''}"): a(href='/settings/transactions_history/XWBC') XWBC transaction history
 