extends ../../layout
block content
  #finances.main-content.settings.user-area(role='main')
    .wrapper
      .col-aside
        include _funds_list
      .col-main
        include ../_warnings
        #balance.container
          .con-header
            h3.con-header-title
              img(src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==", alt="icon", class="coin-icon #{wallet.currency_name.toLowerCase()}")
              |  #{currencies[wallet.currency]} Balance
            .header-aside
              a(href="/trade/#{wallet.currency}/XWBC") Trade #{wallet.currency}/XWBC
          table.trade-data
            tr
              th Total Balance
              th Available Balance
              th Held for Orders
            tr
              td <span data-wallet-balance-id="#{wallet.id}">#{_str.toFixed(wallet.getFloat('total_balance'))}</span> #{wallet.currency}
              td <span data-wallet-available-balance-id="#{wallet.id}">#{_str.toFixed(wallet.getFloat('balance'))}</span> #{wallet.currency}
              td <span data-wallet-hold-balance-id="#{wallet.id}">#{_str.toFixed(wallet.getFloat('hold_balance'))}</span> #{wallet.currency}

        // Deposit
        if wallet.currency == "EURO"
          .wrap
            .transaction-con.container
              .con-header
                h3.con-header-title <i class="icon-circle-arrow-down"></i> Deposit #{currencies[wallet.currency]}
              .con-body
                h3 TRANSFER THE FUNDS TO THIS ACCOUNT
                #outer
                  .bank-data
                    table
                      tr
                        th
                        th
                      tr
                      tr
                        td Account owner:
                        td LXCCoin Ltd. (owner of Swypto Exchange)
                      tr
                        td Bank name:
                        td Barclays Bank PLC
                      tr
                        td Address:
                        td 1 Churchill Place London Ec14 5Hp
                      tr
                        td City:
                        td Canary Wharf, E14 5HP London
                      tr
                        td Country:
                        td United Kingdom
                      tr
                        td Currency:
                        td EURO
                      tr
                        td IBAN:
                        td GB82 BARC 2026 2043 1066 75
                      tr
                        td BIC (SWIFT):
                        td BARCGB22
                      tr
                        td Message:
                        td
                          span
                          “ #{user.name} #{ user.email }”
                          p (IMPORTANT: you must include this in the bank deposit message in order to credit your Swypto Exchange account)

                ul.bank-terms
                  li Your deposit will be credited your account in 1 - 4 business days.
                  li All funds transferred in USD, GBP or others will be converted into EUR.
                  li Third party transfers from corporate bank accounts require further KYC checking. Please contact our support before making a transaction.
                  li If you have any questions please contact our support.

        else if wallet.currency == "USD"
          .wrap
            .transaction-con.container
              .con-header
                h3.con-header-title <i class="icon-circle-arrow-down"></i> Deposit #{currencies[wallet.currency]}
              .con-body
                h3 TRANSFER THE FUNDS TO THIS ACCOUNT
                #outer
                  .bank-data
                    table
                      tr
                        th
                        th
                      tr
                      tr
                        td Account owner:
                        td LXCCoin Ltd. (owner of Swypto Exchange)
                      tr
                        td Bank name:
                        td Barclays Bank PLC
                      tr
                        td Address:
                        td 1 Churchill Place London Ec14 5Hp
                      tr
                        td City:
                        td Canary Wharf, E14 5HP London
                      tr
                        td Country:
                        td United Kingdom
                      tr
                        td Currency:
                        td USD
                      tr
                        td IBAN:
                        td GB82 BARC 2026 2043 1066 75
                      tr
                        td BIC (SWIFT):
                        td BARCGB22
                      tr
                        td Message:
                        td
                          span
                          “ #{user.name} #{ user.email }”
                          p (IMPORTANT: you must include this in the bank deposit message in order to credit your Swypto Exchange account)

                ul.bank-terms
                  li Your deposit will be credited your account in 1 - 4 business days.
                  li Third party transfers from corporate bank accounts may require further KYC checking.
                  li If you have any questions please contact our support.

// Order History
        else
          .wrap
            .transaction-con.container
              .con-header
                h3.con-header-title <i class="icon-circle-arrow-down"></i> Deposit #{currencies[wallet.currency]}
              .con-body
                #sample-div
                  h3 To deposit #{currencies[wallet.currency]}, send to this address:
                #inner
                  .coin-deposit-address
                    code#address-row #{wallet.address}
                    - if (!wallet.address)
                      button#generate-address(data-id="#{wallet.id}") Generate Wallet Address
                    .coin-deposit-actions
                      button#show-qr-bt Show QR
                      button#copy-address(data-clipboard-text="#{wallet.address ? wallet.address : ''}") Copy
                  #qr-address-cnt.qr-address(data-address="#{wallet.address ? wallet.address : ''}")
                ul.bank-terms
                  li Your deposit will be credited after #{wallet.network_confirmations} network confirmations.
  include ../../templates/pending_transaction
  include ../../templates/transaction_history
  include ../../templates/wallet_open_order
  include ../../templates/wallet_closed_order
